body {
    padding: 5%;
}

.lesson-summary {
    background: #FFFFFF;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    margin-bottom: 20px;
    height: 250px;
    position: relative;
}

.lesson-summary h2 {
    margin-bottom: 0px;
}

.lesson-summary h5 {
    margin-top: 0px;
    margin-bottom: 4px;
}

.lesson {
    margin-right: 2%;
    max-height: 250px;
    max-width: 350px;
    float: left;
    display: table-cell;
}

.button-wrap {
    position: absolute;
    bottom: 10px;
    right: 10px;
}